.page-content {
    padding-top: 42px;
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 30px;

    &__title {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        color: $main-color;
        font-size: 24px;
        line-height: 28px;
        font-weight: bold;
        
    }

    &__card-text_wrapper {
        width: 264px;
        min-height: 89px;
        position: relative;
        padding-top: 12px;
    }

    &__card-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn-like {
        position: absolute;
        top: 10px;
        right: 0;
        border: none;
        background-color: #fff;
        cursor: pointer;
    }
    
    &__card-img {
        border-radius: 10px;
        width: 264px;
        height: 178px;
        object-fit: cover;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    &__card {
        margin-top: 25px;
        margin-right: 20px;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    &__card-title {
        font-size: 16px;
        line-height: 19px;
        color: $btn-color;
        margin-right: 20px;       
        margin-bottom: 5px;
        margin-top: 0px;
    }

    &__card-price {
        font-size: 16px;
        line-height: 19px;
        color: $main-color;
        display: block;
    }

    &__card-adress, &__publication-time {
        font-size: 14px;
        line-height: 16px;
        color: $paragpah-color;
        margin-bottom: 4px;
    }
    &__card-adress{
        margin-top: 10px;
    }
    &__publication-time {
        margin-bottom: 0;
        margin-top: 0;
    }

    &__card-link {
        text-decoration: none;
    }
}

// САЙДБАР

.main-sidebar {
    &__wrapper {
        width: 230px;
        min-height: 110px;
        margin-top: 25px;
    }
    &__title {
        font-size: 18px;
        line-height: 21px;
        color: $main-color;
        margin-top: 0;
        margin-bottom: 0;
    }
    &__service-title {
        font-size: 14px;
        line-height: 16px;
        margin-top: 7px;
        margin-bottom: 0;
        color: $main-color;
        font-weight: bold;
    }
    &__image {
        color: $main-color;
    }
    &__service-text {
        font-size: 14px;
        line-height: 16px;
        color: $main-color;
    }
}